html,
body {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto Slab", serif;
    text-align: center;
    font-weight: 600;
}

hr {
    width: 90%;
    height: 10px;
    background-color: brown;
}