.robots {
    text-align: center;
    color: #ff715b;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 0;
}

.robots h1 {
    margin-top: 100px;
    font-weight: 500px;
    font-size: 40px;
}

.robots img {
    width: 100%;
    height: auto;
}

.robots ul {
    overflow: hidden;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.robots ul li {
    background-image: linear-gradient(#fff6cf, #fece7a);
    border-radius: 50%;
    flex-basis: 30%;
}

/*                            Responsive
------------------------------------------------------------------------
*/

@media(max-width: 850px) {
    .robots ul {
        justify-content: space-around;
    }

    .robots ul li {
        flex-basis: 40%;
        justify-content: space-around;
    }
}

@media(max-width: 550px) {
    .robots ul {
        justify-content: space-around;
    }

    .robots ul li {
        flex-basis: 60%;
    }
}